@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700%7CFira+Sans:400,400i,700,700i&subset=latin-ext");
#top-header {
  padding-top: 10px;
  background-color: #eee; }

@media (max-width: 480px) {
  #top-header {
    text-align: center; }
    #top-header .pull-right {
      float: none !important; } }
#sticky-wrapper nav {
  z-index: 10 !important; }

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 0px 0px #EF1808;
  -moz-box-shadow: 0 5px 0px 0px #EF1808;
  -ms-box-shadow: 0 5px 0px 0px #EF1808;
  -o-box-shadow: 0 5px 0px 0px #EF1808;
  box-shadow: 0 5px 0px 0px #EF1808;
  background-color: #ffffff;
  margin-bottom: 0;
  z-index: 5; }
  .navbar .navbar-header .navbar-brand {
    margin-top: -15px;
    font-weight: bold;
    color: #EF1808;
    font-family: "Dancing Script", cursive;
    font-size: 1.5em; }
    .navbar .navbar-header .navbar-brand img {
      width: 50px;
      display: inline; }
  .navbar .navbar-nav .active a {
    background-color: transparent;
    color: #EF1808; }
    .navbar .navbar-nav .active a:focus, .navbar .navbar-nav .active a:hover {
      background-color: transparent;
      color: #EF1808;
      -webkit-filter: grayscale(30%);
      -moz-filter: grayscale(30%);
      -ms-filter: grayscale(30%);
      -o-filter: grayscale(30%);
      filter: grayscale(30%); }
  .navbar .navbar-nav .btn-theme-fill {
    color: #ffffff; }
    .navbar .navbar-nav .btn-theme-fill:focus, .navbar .navbar-nav .btn-theme-fill:hover {
      -webkit-filter: grayscale(30%);
      -moz-filter: grayscale(30%);
      -ms-filter: grayscale(30%);
      -o-filter: grayscale(30%);
      filter: grayscale(30%); }
  .navbar .navbar-toggle {
    border: none; }
    .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
      background-color: transparent; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #EF1808; }
  .navbar .navbar-collapse.collapse.in {
    margin-top: 20px; }

.carousel,
.item,
.active {
  height: 100%;
  z-index: 0; }

.carousel-inner {
  height: 100%; }
  .carousel-inner .carousel-caption {
    background-color: rgba(239, 24, 8, 0);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    .carousel-inner .carousel-caption a {
      margin-bottom: 20px; }

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

html, body {
  height: 100%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #EF1808; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #EF1808; }

a {
  text-decoration: none;
  color: #EF1808;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:focus, a:hover {
    text-decoration: none;
    color: #EF1808;
    -webkit-filter: grayscale(30%);
    -moz-filter: grayscale(30%);
    -ms-filter: grayscale(30%);
    -o-filter: grayscale(30%);
    filter: grayscale(30%); }

section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative; }

section.bg-light {
  overflow: hidden; }
  section.bg-light .flowers:before {
    position: absolute;
    content: '';
    display: block;
    width: 16rem;
    width: 43.2vmin;
    height: 16rem;
    height: 43.2vmin;
    background-image: url(../../images/pattern/flowers.svg);
    background-position: center center;
    background-size: cover;
    opacity: .1;
    top: -7rem;
    left: -21.6vmin;
    z-index: -1; }
  section.bg-light .flowers:after {
    position: absolute;
    content: '';
    display: block;
    width: 16rem;
    width: 43.2vmin;
    height: 16rem;
    height: 43.2vmin;
    background-image: url(../../images/pattern/flowers.svg);
    background-position: center center;
    background-size: cover;
    opacity: .1;
    top: -7rem;
    right: -21.6vmin;
    z-index: -1; }

section.bg-inner, .thumbnail section.pricing-header.bg-inner {
  background-color: #eee; }

section.bg-image {
  background-image: url(../../images/bg.jpg);
  background-color: #eee;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: contrast(80%);
  -moz-filter: contrast(80%);
  -ms-filter: contrast(80%);
  -o-filter: contrast(80%);
  filter: contrast(80%);
  overflow: hidden;
  position: relative; }
  section.bg-image .flowers:before {
    position: absolute;
    content: '';
    display: block;
    width: 16rem;
    width: 43.2vmin;
    height: 16rem;
    height: 43.2vmin;
    background-image: url(../../images/pattern/flowers-white.svg);
    background-position: center center;
    background-size: cover;
    opacity: .9;
    top: -7rem;
    left: -21.6vmin;
    z-index: -1; }
  section.bg-image .flowers:after {
    position: absolute;
    content: '';
    display: block;
    width: 16rem;
    width: 43.2vmin;
    height: 16rem;
    height: 43.2vmin;
    background-image: url(../../images/pattern/flowers-white.svg);
    background-position: center center;
    background-size: cover;
    opacity: .9;
    bottom: -7rem;
    right: -21.6vmin;
    z-index: -1; }
  section.bg-image .title {
    color: #ffffff; }
  section.bg-image .thumbnail {
    opacity: .9; }

hr.heart-primary {
  padding: 0;
  border: none;
  border-top: 2px solid #EF1808;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px; }
  hr.heart-primary:after {
    background-color: #ffffff;
    color: #EF1808;
    content: "\f004";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em; }

hr.heart-inner {
  padding: 0;
  border: none;
  border-top: 2px solid #EF1808;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px; }
  hr.heart-inner:after {
    background-color: #eee;
    color: #EF1808;
    content: "\f004";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em; }

.preload {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  background-image: url(../../images/hearts.svg);
  background-position: center;
  background-repeat: no-repeat; }

.title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 1.1em 0;
  margin-bottom: 1em; }
  .title:after, .title:before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../../images/pattern/decor.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 1em;
    top: 0;
    left: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .title:after {
    top: auto;
    bottom: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

.no-padding {
  padding: 0; }

.no-border {
  border: none; }

.sosmed li {
  background-color: #ffffff; }

#map {
  height: 100%; }

.bg-inner, .thumbnail .pricing-header.bg-inner {
  background-color: #666666; }

.thumbnail {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0;
  position: relative; }
  .thumbnail .pricing-header {
    padding: 10px 0 20px;
    background-color: #000000; }
    .thumbnail .pricing-header .pricing-title {
      font-size: 24px;
      color: #ffffff; }
    .thumbnail .pricing-header .price {
      color: #ffffff; }
      .thumbnail .pricing-header .price .currency {
        vertical-align: top; }
      .thumbnail .pricing-header .price .value {
        font-size: 72px;
        font-weight: bold; }
      .thumbnail .pricing-header .price .duration {
        vertical-align: bottom; }
  .thumbnail .pricing-body {
    padding: 20px 0 20px;
    background-color: #ffffff; }

.bg-light .thumbnail {
  background-color: transparent; }

#package .thumbnail {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  #package .thumbnail:hover {
    -webkit-box-shadow: 0 0 15px 5px #000000;
    -moz-box-shadow: 0 0 15px 5px #000000;
    -ms-box-shadow: 0 0 15px 5px #000000;
    -o-box-shadow: 0 0 15px 5px #000000;
    box-shadow: 0 0 15px 5px #000000; }

.btn-origin, .btn-theme {
  color: #EF1808;
  border: 1px solid #EF1808;
  background-color: transparent; }

.btn-fill, .navbar .navbar-nav .btn-theme-fill:focus, .navbar .navbar-nav .btn-theme-fill:hover, .btn-theme:focus, .btn-theme:hover, .btn-theme-fill, .btn-theme-fill:focus, .btn-theme-fill:hover {
  color: #ffffff;
  border: 1px solid #EF1808;
  background-color: #EF1808; }

.btn-theme-fill:focus, .btn-theme-fill:hover {
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  -ms-filter: grayscale(30%);
  -o-filter: grayscale(30%);
  filter: grayscale(30%); }

.btn-flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

footer {
  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 50px; }
  footer a {
    font-family: "Dancing Script", cursive;
    font-size: 1.2em; }
  footer a.developer {
    padding: 5px 3px 3px;
    background-color: #EF1808;
    color: #ffffff;
    font-family: "Fira Sans", sans-serif;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    footer a.developer:focus, footer a.developer:hover {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -ms-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0); }

@media (max-width: 480px) {
  footer .pull-right {
    float: none !important;
    display: block; } }

/*# sourceMappingURL=main.css.map */
