footer {
	background-color: #eee;
	padding-top: 50px;
	padding-bottom: 50px;
	a {
		font-family: $font-style;
		font-size: 1.2em;
	}
	a.developer {
		padding: 5px 3px 3px;
		background-color: $red;
		color: $white;
		font-family: $font-primary;
		@include grayscale(100%);
		@include transition(.5s);
		&:focus,
		&:hover {
			@include grayscale(0);
		}
	}
}

@media (max-width: 480px) {
	footer {
		.pull-right {
			float: none!important;
			display: block;
		}
	}
}